:root {
  --bg: #ffffff;
  --surface: #ffffff;
  --text: #111827;
  --primary: #4f46e5;

  /* Sidebar luôn dark */
  --sidebar-bg: #1a1040;
  --sidebar-text: #ffffff;
  --sidebar-muted: #a78bfa;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --surface: #1e293b;
  --text: #f8fafc;
  --primary: #818cf8;

  --sidebar-bg: #0f0a2e;
  --sidebar-text: #ffffff;
  --sidebar-muted: #7c6fcd;
}

@font-face {
  font-family: "UVN Giong Song";
  src: url("./assets/fonts/UVNGiongSong/UVNGiongSong_B.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "UVN Giong Song", sans-serif;

}