:root {
  --bg: #ffffff;
  --surface: #ffffff;
  --text: #111827;
  --primary: #4f46e5;

  --checkin-notstarted-bg: #fefce8;
  --checkin-notstarted-border: #fde68a;

  --checkin-progress-bg: #ffffff;
  --checkin-progress-border: #e2e8f0;

  --checkin-completed-bg: #ecfdf5;
  --checkin-completed-border: #86efac;

  --badge-bg: #f1f5f9;
  --badge-text: #475569;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --surface: #1e293b;
  --text: #f8fafc;
  --primary: #818cf8;

  --checkin-notstarted-bg: #422006;
  --checkin-notstarted-border: #713f12;

  --checkin-progress-bg: #1e293b;
  --checkin-progress-border: #475569;

  --checkin-completed-bg: #052e16;
  --checkin-completed-border: #14532d;

  --badge-bg: #334155;
  --badge-text: #e2e8f0;
}

@font-face {
  font-family: "UVN Giong Song";
  src: url("./assets/fonts/UVNGiongSong/UVNGiongSong_B.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "UVN Giong Song", sans-serif;

}